body {width:300px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-height:500px;
    overflow:auto;
    width:300px;
    }
    select{width:55px;}
    input{
      width:200px;
    }

